<h1>Edit Post</h1>

<%= form_for(@post) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :article %>
    <%= f.text_field :article %>
    <%= f.submit "Update Post" %>
<% end %>

<%= link_to 'Show', @post %>
<%= link_to 'Back', posts_path %>
