<h1>Posts#new</h1>

<% form_for(@Post) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :article %>
    <%= f.text_field :article %>
    <%= f.submit 'Create Post' %>
<% end %>
